*.pdf
*.png
!paper/*
!paper/**/*

*.fastq.gz
*.bam
*.bam.bai
*.h5
*.csv
*.sam 
*.xls
*.bw
*.bb
*.bg


*.Rdata
.Rhistory
data/*
*.DS_STORE

code/logs/*
.Rproj.user
packrat/lib*/
code/lihc_expression/*
output/dt_matfiles/*
